
# Core
torch>=2.1.0
torchvision>=0.16.0      # optional - for completeness
transformers>=4.40.0
datasets>=2.19.0
accelerate>=0.29.0
peft>=0.11.0
torchcrf          # CRF layer

# Evaluation / helpers
scikit-learn>=1.4.2
evaluate>=0.4.1
tqdm>=4.66.0
pyyaml>=6.0.1
numpy>=1.26.4
pandas>=2.2.2

# Optional (logging / plotting)
matplotlib>=3.8.4

prettytable